#cover {
   background-color: #FEE7D6;
   padding-block: var(--padding-page);
   display: flex;
   justify-content: center;
   flex-direction: column;

   .cover-container {
      max-width: 496px;
      display: flex;
      flex-direction: column;
      align-items: center;

      >div:nth-child(1) {
         h4 {
            font: var(--title-sm);
         }

         display: flex;
         align-items: center;
         justify-content: center;
         gap: 8px;
      }

      h1 {
         margin-block: 8px;
         font: var(--title-lg);

         strong {
            color: var(--text-highlight);
         }
      }

      p {
         font: var(--text-sm);
         color: #57534E;
      }

      .bg-img {
         width: 312px;
         height: 232px;
         margin-top: 48px;
      }
   }
}

@media (width >=520px) {
   #cover {
      flex-direction: initial;
      
      .cover-container {
         display: initial;
         align-items: start;
         >div:nth-child(1){
            justify-content: start;
            gap: 16px;
         }

         & .bg-img {
            width: 496px;
            height: 368px;
         }
      }
   }


}