#form {
   background-color: var(--surface-primary);
   padding: 64px;
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
   height: 100vh;
}

.back-wrapper {
   display: flex;
   align-items: center;
   column-gap: 8px;
   font: var(--text-sm);
   color: #57534E;
}

h2 {
   margin-block: 24px 8px;
   font: var(--title-xl);
}

.form-description {
   font: var(--text-sm);
}

form {
   display: flex;
   flex-direction: column;
   margin-top: 48px;

   legend {
      font: var(--text-legend);
   }

   label {
      color: var(--text-secondary);
      margin-block: 24px 4px;
      font: var(--text-description);
   }

   p {
      font: var(--text-description);
      color: #57534E;
   }

   .title-registration {
      margin: 48px 0 24px 0;
   }

   .timetable-wrapper {
      display: flex;
      justify-content: space-between;
      margin-block: 36px 24px;
   }

   .sports-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-block: 16px 48px;
   }

   .terms-wrapper {
      display: flex;
      column-gap: 12px;
      font: var(--text-legend);

      input[type="checkbox"] {
         width: 24px;
         height: 24px;
      }

      strong {
         color: #E43A12;
      }

   }

   .buttons-wrapper {
      display: flex;
      column-gap: 16px;
      flex-flow: row-reverse;
      margin-top: 64px;

      button {
         font: var(--text-legend);
         cursor: pointer;
         border: 1px solid var(--brand-dark);
         border-radius: 8px;
         padding: 12px 24px;
      }

      & :nth-last-of-type(1) {
         color: var(--brand-dark);
      }

      & :nth-last-of-type(2) {
         color: #ffffff;
         background-color: var(--brand-dark);
      }
   }

}